scikit-image~=0.16.2
astropy~=4.0
ccdproc~=2.1.0
numpy~=1.18.1
scipy~=1.4.1
bokeh~=2.0.0
psutil~=5.7.0
pytest~=5.4.1
-e git://github.com/Keck-DataReductionPipelines/KeckDRPFramework.git#egg=keckdrpframework
-e git://github.com/cmccully/lacosmicx.git#egg=lacosmicx
requests~=2.23.0
pandas~=1.0.3
matplotlib~=3.1.3
setuptools~=46.1.1
ref_index~=1.0
pyregion~=2.0
