#
# Configuration file for an instrument
#
[KCWI]
output_directory = "redux"

bias_min_nframes = 7
flat_min_nframes = 6
dome_min_nframes = 3
twiflat_min_nframes = 1
dark_min_nframes = 3
minoscanpix = 75
oscanbuf = 20

skipscat = False    # Skip subtracting scattered light?

# interactive = 1
plot_pause = 1
saveintims = False
inter = 1
clobber = False

NBARS = 120
REFBAR = 57
PIXSCALE = 0.00004048   # unbinned pixel size in degrees
SLICESCALE = 0.00037718 # Large slicer slice size in degrees
PIX = 0.0150   # pixel size in mm
FCAM = 305.0   # FOCAL LENGTH OF THE CAMERA
GAMMA = 4.0    # mean out-of-plane angle for diffraction (deg)
WAVEFID = 3000.     # Fiducial wavelength for wavelength bins
TAPERFRAC = 0.2
ROTOFF = 0.0    # Rotator/IFU offset angle in degrees
plot_width=1000
plot_height=600
CRR_MINEXPTIME = 60.0
CRR_PSSL = 0.0
CRR_GAIN = 1.0
CRR_READNOISE = 3.2
CRR_SIGCLIP = 4.5
CRR_SIGFRAC = 0.3
CRR_OBJLIM = 4.0
CRR_PSFFWHM = 2.5
CRR_FSMODE = "median"
CRR_PSFMODEL = "gauss"
CRR_SATLEVEL = 60000.0
CRR_VERBOSE = False
CRR_SEPMED = False
CRR_CLEANTYPE = "meanmask"
CRR_NITER = 4

# which arc lamp to use
# choices are ThAr and FeAr
default_arc_lamp = 'ThAr'

# BOKEH SERVER
enable_bokeh = True
plot_level = 1

[LOGGER]
start_log = True
log_path = logs/pipe_log.log
log_level= info
log_verbose = True
